<% comments.each do |comment| %>
  <div class="comment" id="comment-<%= comment.id %>" data-id="<%= comment.id %>">
    <a href="<%= "/user/#{comment.user.username}" %>" class="avatar-container clearfix">
        <% cache [user.id, user.updated_at, "avatar", "thumb"] do -%>
          <%= image_tag(comment.user.avatar(:thumb), class: "avatar") %>
        <% end -%>
      </a>
    <div class="body-container clearfix">
      <span class="title" data-id="<%= comment.user.username %>"><%= link_to display_name(comment.user), "/user/#{comment.user.username}" -%></span>
      <p class="body"><%= replace_urls comment.body %></p>
      <% if !@current_user.nil? and @current_user.can_modify_post?(comment.user) -%>
        <div class="controls">
          <% if @current_user.has_global_permission? "can_edit_own_posts" -%>
            <a class="edit-post" title='Edit comment'></a>
          <% end -%>
          <% if @current_user.has_global_permission? "can_edit_own_posts" -%>
            <a class="delete-post" title="Delete comment"></a>
          <% end -%>
        <% end -%>
      </div>
    </div>
  </div>
<% end %>
<% if comments.empty? %>
  <span class="no-comments">There are currently no comments here</span>
<% end %>