<div class="streamPost text-card <%= 'official' if post.official -%>" id="post-<%= post.id %>" data-id="<%= post.id %>">
  <div class="large-2 small-3 columns user" data-id="<%= user.username %>">
    <%= link_to image_tag(user.avatar(:med), class: "avatar"), "/user/#{user.username}" %>
    <% if !@current_user.nil? and ((user == @current_user and @current_user.has_permission? "can_edit_own_posts") or @current_user.has_permission? "can_edit_all_users_posts") -%>
      <div class="user-controls">
        <div class="edit-controls">
          <a class="submit-post">Submit</a>
          <a class="cancel-post">Cancel</a>
        </div>
        <div class="default-controls">
          <a class="edit-post" id="edit_post_<%= post.id %>">Edit</a>
          <a class="delete-post"></a>
        </div>
        <div id="edit_post_<%= post.id %>_feedback"></div>
      </div>
    <% end -%>
    <% if post.official -%>
      <%= image_tag 'ui/official-shield.png', class: 'official-shield' %>
    <% end -%>
  </div>
  <div class="large-10 small-9 columns body">
    <span class="title"><%= link_to display_name(user), "/user/#{user.username}" -%></span>
    <p><%= replace_urls post.body -%></p>
    <% unless post.bans.empty? -%>
      <div class="bans">
        <% post.bans.each do |ban| -%>
          <p>User was banned for this post: <%= ban.reason %></p>
        <% end -%>
      </div>
    <% end %>
    <span class="time-ago"><%= post_time_ago(post) -%></span>
  </div>
</div>