<div class="streamPost text-card <%= 'official' if post.official -%>" id="post-<%= post.id %>" data-id="<%= post.id %>">
  <div class="large-2 small-3 columns user" data-id="<%= user.username %>">
    <%= link_to image_tag(user.avatar(:med), class: "avatar"), "/user/#{user.username}" %>
    <% if !@current_user.nil? and ((user == @current_user and @current_user.has_permission? "can_edit_own_posts") or @current_user.has_permission? "can_edit_all_users_posts") -%>
      <div class="user-controls">
        <div class="edit-controls">
          <a class="submit-post">Submit</a>
          <a class="cancel-post">Cancel</a>
        </div>
        <div class="default-controls">
          <a class="edit-post">Edit</a>
          <a class="delete-post"></a>
          <% if @current_user.has_permission? "can_ban_users" %>
            <a class="ban-post" href="#" data-reveal-id="ban-post-modal"></a>
          <% end %>
        </div>
      </div>
    <% end -%>
    <% if post.official -%>
      <%= image_tag 'ui/official-shield.png', class: 'official-shield' %>
    <% end -%>
  </div>
  <div class="large-10 small-9 columns body">
    <span class="title"><%= link_to display_name(user), "/user/#{user.username}" -%></span>
    <% if post.bans.empty? %>
      <p><%= replace_urls post.body -%></p>
    <% else %>
      <% if !@current_user.nil? and ((user == @current_user and @current_user.has_permission? "can_edit_own_posts") or @current_user.has_permission? "can_edit_all_users_posts") -%>
        <p><%= replace_urls post.body -%></p>
      <% else %>
        <p>(Message removed due to ban)</p>
      <% end %>
      <div class="bans">
        <% post.bans.each do |ban| -%>
          <p>User was banned for this post: <%= ban.reason %></p>
        <% end -%>
      </div>
    <% end %>
    <span class="time-ago"><%= post_time_ago(post) -%></span>
  </div>
</div>



<div id="ban-post-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <p class="lead">Zees persun. Zhey are beeink naughty</p>
  <p>Please select the severity of the banhammer:</p>
  <a href="#" class="button">48H</a>
  <a href="#" class="button">1W</a>
  <a href="#" class="button">4EVAH</a>
  <%= text_field :ban, :reason, placeholder: "reason" %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
