<div class="large-6 small-12 center text-card pad">
  <h6>Chat with</h6>
  <ul class="large-block-grid-6 small-block-grid-3 user-list">
    <% (@chat.users - [@current_user]).each do |user| %>
      <li class="user">
        <a href="/user/<%= user.username %>">
          <div class="avatar-container">
            <%= image_tag(user.avatar.url(:thumb), class: "avatar") %>
          </div>
          <span><%= display_name user %></span>
        </a>
      </li>
    <% end %>
  </ul>
</div>
<% if @current_user.has_permission? "can_send_private_messages" -%>
  <div class="large-6 small-12 center text-card pad lfg-form">
    <%= form_for PrivateMessage.new, url: {controller: "messages", action: "create_message" }, method: 'put' do |f| -%>
      <label>New Message
        <%= f.text_area "body", class: "quick-submit" %>
      </label>
      <input type="submit" class="btn small" value="Send" />
    <% end %>
  </div>
<% end -%>
<%# Message views should NEVER be cached. This defeats the encryption %>
<div class="large-6 small-12 center text-card chat-card">
  <% @messages.each do |message| %>
    <%= render partial: "message", locals: {message: message} %>
  <% end %>
</div>
<div class="large-6 small-12 center text-card hidden" id="loading-message">
  <p>Loading...</p>
</div>