<div class="large-6 small-12 center">
  <%= form_for @current_user, url: '/user/account', multipart: true do |f| %>
    <% if @current_user.errors.any? %>
      <div data-alert class="alert-box">
        <strong><%= pluralize(@current_user.errors.count, "error") %> prohibited this user from being saved:</strong>
        <ul style="margin-bottom: 0;">
          <% @current_user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <div class="row">
      <div class="small-12 columns">
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix">Display Name</span>
          </div>
          <div class="small-9 columns">
            <div class="input-text">
              <%= f.text_field :display_name %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <label>Bio
        <%= f.text_area :bio %>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div class="row collapse">
          <div class="small-1 columns">
            <span class="prefix">Old</span>
          </div>
          <div class="small-11 columns">
            <div class="input-text">
              <%= f.password_field :old_password, placeholder: "Old Password" %>
            </div>
          </div>
        </div>
      </div>

      <div class="small-6 columns">
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix">New</span>
          </div>
          <div class="small-9 columns">
            <div class="input-text">
              <%= f.password_field :password, placeholder: "Password" %>
            </div>
          </div>
        </div>
      </div>

      <div class="small-6 columns">
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix">Confirm</span>
          </div>
          <div class="small-9 columns">
            <div class="input-text">
              <%= f.password_field :password_confirmation, placeholder: "Confirmation" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns" id="favourite_games">
        <% @current_user.games.each_with_index do |game, i| -%>
          <%= f.fields_for :games, @current_user.games.find_or_initialize_by(id: game), number: game do |g| -%>
            <%= g.text_field :name, name: "user[games][#{i}][name]" %>
          <% end -%>
        <% end -%>
      </div>
      <h1 id="new_favourite_game" title="Add new game">+</h1>
    </div>
    

    <div class="row">
      <div class="small-12 columns">
        <%= f.submit 'Submit', class: "button" %>
      </div>
    </div>
  <% end %>
</div>