<% unless post.extra_data.empty? -%>
  <a href="<%= post.extra_data["original_url"] %>" target="_blank" class="metadata-card-container">
    <div class="metadata-card" <% if post.extra_data.has_key? "video_url" -%> data-video="<%= post.extra_data["video_url"] %>" data-mime="<%= post.extra_data["mime_type"] %>" <% end -%>>
      <% if post.extra_data.has_key? "image" -%>
        <div class="image-container">
          <% if post.extra_data.has_key? "video_url" -%>
            <%= image_tag "ui/play.png", class: "play-button" %>
          <% end -%>
          <img class="image" src="<%= post.extra_data["image"] %>">
        </div>
      <% end -%>
      <div class="summary <%= "with-image" if post.extra_data.has_key? "image" %>">
        <span class="title"><%= post.extra_data["title"] %></span>
        <p><%= post.extra_data["description"] %></p>
        <span class="sitename"><%= post.extra_data["site_name"] %></span>
      </div>
    </div>
  </a>
<% end -%>