<div class="large-3 medium-3 small-6 columns user-card">
  <% if defined?(group) and group %>
    <a class="user-mod" href="/group/<%= @group.slug %>/members/<%= user.username %>"></a>
  <% end %>
  <a href="/user/<%= user.username %>">
    <div class="overlay-container">
      <% cache [user.id, user.updated_at, "avatar", "group-membership-large", role] do -%>
        <%= image_tag user.avatar(:large), class: "avatar group #{role}" %>
      <% end -%>
      <span class="username <%= "small" if un.length >= 16 %>"><%= un %></span>
    </div>
  </a>
</div>
