<fieldset <%= 'class="official"'.html_safe if post.official -%>>
  <div class="large-1 columns">
    <a href="/user/<%= post.user.username %>">
      <%= display_name post.user %>
      <%= image_tag post.user.avatar.url(:thumb) %>
    </a>
  </div>
  <div class="large-11 columns">
    <p class="streamPost"><%= post.body %></p>
  </div>
  <div class="large-3 right">
    <%= link_to post.created_at, "/user/#{post.user.username}/#{post.id}" %>
  </div>
</fieldset>