<div class="lfg-form">
  <%= form_for @current_user, url: '/account', multipart: true do |f| %>
    <% if @current_user.errors.any? %>
      <div data-alert class="alert-box">
        <strong><%= pluralize(@current_user.errors.count, "error") %> prohibited this account from being created:</strong>
        <ul style="margin-bottom: 0;">
          <% @current_user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <div class="large-4 small-12 columns left">
      <div class="pad text-card profile-card settings-card bio-card">
        <span class="title">Basic Info</span>
        <%= image_tag @current_user.avatar.url(:med), class: "avatar" %>

        <div class="avatar-upload">
          <label>Avatar
            <%= f.file_field :avatar %>
          </label>
        </div>

        <div class="small-12">
          <label>Display Name (Optional)
            <%= f.text_field :display_name, placeholder: "Display Name" %>
          </label>
        </div>

        <div class="small-12">
          <label>Bio
            <%= f.text_area :bio, placeholder: "Bio", rows: 8 %>
          </label>
        </div>

        <span class="title">Change Password</span>
        <div class="small-12">
          <%= f.password_field :old_password, placeholder: "Old Password" %>
        </div>
        <div class="row collapse">
          <div class="small-6 columns new-pass">
            <%= f.password_field :password, placeholder: "New Password" %>
          </div>
          <div class="small-6 columns confirm-pass">
            <%= f.password_field :password_confirmation, placeholder: "Confirmation" %>
          </div>
        </div>

        <span class="title">Search Tags</span>
        <div class="small-12">
          <label>(Comma seperated)
            <textarea name="user[tags]" id="user_tags"><%= @current_user.tags.map(&:name).join(", ") %></textarea>
          </label>
        </div>

        <span class="title">Social</span>
        <div class="small-12">
          <%= f.fields_for :social do |s| %>
            <label>Website
              <%= s.text_field :website, value: f.object.social["website"] , placeholder: "Website" %>
            </label>
            <label>Facebook username
              <%= s.text_field :link_facebook, value: f.object.social["link_facebook"] , placeholder: "Facebook" %>
            </label>
            <label>Google+ username
              <%= s.text_field :link_googleplus, value: f.object.social["link_googleplus"] , placeholder: "Google+" %>
            </label>
            <label>Instagram username
              <%= s.text_field :link_instagram, value: f.object.social["link_instagram"] , placeholder: "Instagram" %>
            </label>
            <label>LinkedIn ID
              <%= s.text_field :link_linkedin, value: f.object.social["link_linkedin"] , placeholder: "LinkedIn" %>
            </label>
            <label>Twitter username
              <% if f.object.social["link_twitter"].present? %>
                [VERIFY]
              <% end %>
              <%= s.text_field :link_twitter, value: f.object.social["link_twitter"] , placeholder: "Twitter" %>
            </label>
            <label>Youtube URL (Just the last part)
              <%= s.text_field :link_youtube, value: f.object.social["link_youtube"] , placeholder: "Youtube" %>
            </label>
          <% end %>
        </div>
      </div>
    </div>

    <div class="large-4 small-12 columns left">
      <div class="pad text-card profile-card settings-card">
        <span class="title">Skills</span>

        <div class="skills" id="skills">
          <%= f.fields_for :skills  do |s| -%>
            <div class="skill row collapse">
              <%= s.hidden_field :id %>
              <span class="skill-title">Skill</span>
              <div class="small-7 columns category">
                <%= s.select :category, Skill.categories.keys.to_a.map { |x| [x.titleize, x] }, { include_blank: true } %>
              </div>
              <div class="small-5 columns confidence">
                <label>
                  <%= s.select :confidence, (1..10).to_a %>
                  Confidence
                </label>
              </div>
              <div class="small-12">
                <%= s.text_field :note, placeholder: "Note" %>
              </div>
            </div>
          <% end %>
        </div>
        <a class="new-item-button" id="new_skill" title="Add new skill">+</a>
        <div class="small-12">
          <label>Notes
            <%= f.text_area :skill_notes, placeholder: "Notes" %>
          </label>
        </div>
        <div class="small-12">
          <%= f.fields_for :social do |s| %>
            <label>Portfolio url
              <%= s.text_field :portfolio, value: f.object.social["portfolio"] , placeholder: "Portfolio" %>
            </label>
          <% end %>
        </div>
      </div>
    </div>

    <div class="large-4 small-12 columns left">
      <div class="pad text-card profile-card settings-card">
        <span class="title"><span title="Favourite">Favorite</span> Games</span>
        <div class="favourite-games" id="favourite_games">
          <% @games.each_with_index do |game, i| -%>
            <%= f.fields_for :games, game, number: game do |g| -%>
              <%= g.text_field :name, name: "user[games][#{i}][name]" %>
            <% end -%>
          <% end -%>
        </div>
        <a class="new-item-button" id="new_favourite_game" title="Add new game">+</a>
      </div>
    </div>

    <div class="small-4 right">
      <%= f.submit 'Submit', class: "btn right" %>
    </div>
  <% end %>
</div>