<div class="large-6 small-12 center text-card pad">
  <h2>User Search</h2>
  <form id="filtered-search-form" method="get" action="/search">
    <input type="hidden" name="query" id="hidden-search-field" value="<%= @query if @query -%>" >
    <label>Filter by skill:
    <%= select_tag "filter", options_for_select(Skill.categories.keys.to_a.map { |x| [x.titleize, x] }, @filter), { include_blank: true, id: "search-filter" } %>
    </label>
  </form>
</div>
<div class="large-6 small-12 center">
  <% if @results -%>
      <% @results.each do |user| -%>
        <div class="small-12 center text-card pad search-entry">
          
          <div class="small-3 columns">
            <%= link_to image_tag(user.avatar.url(:med), class: "avatar"), "/user/#{user.username}" %>
            <span class="title"><%= link_to display_name(user), "/user/#{user.username}" %></span>
          </div>
          <div class="small-9 columns">
            <% if !user.skills.empty? -%>
              <span>Skills</span>
              <ul>
                <% user.skills.each do |skill| -%>
                  <li><%= skill.category.titleize %> | <%= skill.confidence %></li>
                <% end -%>
              </ul>
            <% elsif !user.bio.blank? -%>
              <span>Bio</span>
              <p><%= user.bio %></p>
            <% else %>
              <p>No info to show</p>
            <% end -%>
          </div>
        </div>
      <% end -%>
      <% if @results.empty? -%>
        <h3>No results found!</h3>
      <% end -%>
    <div class="row">
      <%= render(:partial => "shared/pagination", :locals => {:address_prefix => "/search?#{@query_string}", :number_of_pages => @num_of_pages, :current => @page_num, :existing_query => true}) %>
    </div>
  <% end %>
</div>