<div class="large-4 small-12 columns left">
  <div class="pad text-card profile-card bio-card">
    <% if @user == @current_user -%>
      <div class="edit-section">
      </div>
    <% end -%>
    <a title="<%= @user.display_name || "@" + @user.username %>" url="<%= @user.avatar.url(:original) %>">
      <% cache [@user.id, @user.updated_at, "avatar", "med"] do -%>
        <%= image_tag(@user.avatar.url(:med), class: "avatar") %>
      <% end -%>
    </a>
    <span class="title <%= "long" if display_name(@user).length > 18 %>"><%= display_name(@user) %></span>
    <p><%= replace_urls @user.bio %></p>
    <div class="bottom">
      <% unless @user.social["website"].blank? -%>
        <span class="website">Website: <%= link_to truncate(reverse_urlify(@user.social["website"]), length: 30), full_urlify(@user.social["website"]) %></span>
      <% end -%>
      <% if logged_in? and @user != @current_user -%>
        <div class="buttons">
          <% if @current_user.has_permission? "can_send_private_messages" -%>
            <a href="/user/<%= @user.username %>/message" class="btn small small-6 columns">Send Message</a>
          <% end -%>
          <a href="/user/<%= @user.username %>/follow" class="btn small small-6 columns"><% unless @current_user.follows.map(&:following).include? @user -%>Follow<% else -%>Unfollow<% end -%></a>
        </div>
      <% end -%>
      <ul class="social-links">
        <% @user.social.each do |social| %>
          <% if social[0].start_with? 'link_' and !social[1].empty? %>
            <li><%= link_to "", expand_social_link(social), class: social[0].sub('link_', '') %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% if !(to_b @user.hidden["skills"]) or @user == @current_user -%>
  <div class="large-4 small-12 columns left">
    <div class="pad text-card profile-card skills-card">
      <% if @user == @current_user -%>
        <div class="hidden-section <%= "active" if to_b @user.hidden["skills"] %>"></div>
        <div class="edit-section">
          <a class="hide <%= "disabled" if to_b  @user.hidden["skills"] %>" data-section="skills"></a>
        </div>
      <% end -%>
      <span class="title">Skills</span>
      <div class="skills">
        <% @user.skills.each do |skill| -%>
          <div class="skill">
            <span class="category"><%= skill.category.titleize %></span>
            <div class="bar">
              <div class="inlet size-<%= skill.confidence %>">
                <%= skill.confidence %>
              </div>
            </div>
            <span class="note"><%= skill.note %></span>
          </div>
        <% end -%>
      </div>
      <% unless @user.skill_notes.blank? -%>
        <div class="notes">
          <h5>Notes:</h5>
          <p><%= @user.skill_notes %></p>
        </div>
      <% end -%>
      <div class="bottom">
        <% unless @user.social["portfolio"].blank? -%>
          <span class="portfolio">Portfolio/Resume: <%= link_to truncate(reverse_urlify(@user.social["portfolio"]), length: 21), full_urlify(@user.social["portfolio"]) %></span>
        <% end -%>
      </div>
    </div>
  </div>
<% end %>

<% if !(to_b @user.hidden["games"]) or @user == @current_user -%>
  <div class="large-4 small-12 columns left">
    <div class="pad text-card profile-card games-card">
      <% if @user == @current_user -%>
        <div class="hidden-section <%= "active" if to_b @user.hidden["games"] %>"></div>
        <div class="edit-section">
          <a class="hide <%= "disabled" if to_b @user.hidden["games"] %>" data-section="games"></a>
        </div>
      <% end -%>
      <span class="title"><span title="Favourite">Favorite</span> Games</span>
      <ul class="games-list small-block-grid-3">
        <% @user.games.each do |game| -%>
          <li class="game">
            <% cache [game.id, game.updated_at, "boxart", "small"] do -%>
              <%= image_tag game.boxart.url(:small) %>
            <% end -%>
            <span class="game-title"><%= game.name %></span>
          </li>
        <% end -%>
      </div>
    </div>
  </div>
<% end -%>