<div class="large-3 small-12 columns right">
  <h1><%= display_name @current_user %></h1>
  <%= image_tag @current_user.avatar.url(:med) %>
</div>
<div class="large-6 small-12 columns left">
  <% unless @current_user.bio.blank? -%>
    <div class="row">
      <h2>Bio</h2>
      <p><%= @current_user.bio %></p>
    </div>
  <% end -%>

  <% unless @current_user.games.empty? -%>
    <div class="row">
      <h2>Favourite Games</h2>
      <ul>
        <% @current_user.games.each do |game| -%>
        <li><%= game.name %></li>
        <% end -%>
      </ul>
    </div>
  <% end %>

  <% unless @current_user.skills.empty? -%>
    <div class="row">
      <h2>Skills</h2>
      <ul>
        <% @current_user.skills.each do |skill| -%>
        <li><%= skill.category.titleize %> | <%= skill.confidence %></li>
        <% end -%>
      </ul>
    </div>
  <% end %>
</div>