<div class="large-5 small-12 right lfg-form">
  <%= form_for @user, url: "/signup", multipart: true, method: "post" do |f| %>
    <% if @user.errors.any? %>
      <div data-alert class="alert-box">
        <strong><%= pluralize(@user.errors.count, "error") %> prohibited this account from being created:</strong>
        <ul style="margin-bottom: 0;">
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <div class="small-12">
      <h2>Register Now</h2>
    </div>

    <div class="small-12">
      <%= f.text_field :username, placeholder: "Username", required: true %>
    </div>
    <div class="small-12">
      <%= f.password_field :password, placeholder: "Password", required: true %>
    </div>
    <div class="small-12">
      <%= f.text_field :email, placeholder: "E-mail", required: true %>
    </div>
    <div class="small-12">
      <%= f.text_field :email_confirm, placeholder: "Re-enter E-Mail", required: true %>
    </div>

    <div class="small-4 right">
      <%= f.submit 'Sign up', class: "btn right" %>
    </div>
  <% end %>
</div>
<div class="large-5 small-12 text-card left" id="join-the-league">
  <%= image_tag "ui/signup/join-the-league.png", class: "logo" %>

  <h2>Welcome to League For Gamers</h2>
  <p>We’re a brand new kind of social site. One tailored for gamers but open to any topic, from pen-n-paper gaming to politics. We’re the cure for the changes and restrictions we’ve been seeing in game forums, social media, and even video games. We fight for the gamer.</p>

  <h3>Free Speech</h3>
  <p>We believe in a strong right to freedom of speech. If its legal to say under the 1st Amendment, you can probably say it here.</p> 

  <h3>Gamer Profiles</h3>
  <p>Create rich profiles. Add your favorite games. Post your skills resume for indie team recruting.</p>

  <h3>Social Gaming</h3>
  <p>Follow gamers and devs. Post your thoughts. Start a group or join one. Become an LFG volunteer and help advocate for freedom of expression or run charities. Find other gamers to play with.</p>

  <h3>Better than Twitter</h3>
  <p>We let you post more than 140 characters. 512, in fact. We win.</p>

  <h3>Groups</h3>
  <p>Join a group and get involved. You’ll find groups on any topic, or you can create your own. Love comics? Start a comic group. Love astronomy? Start a star gazing group. Are you a Game Studios? Open up a group and start building a fan base.</p>

  <h3>Private</h3>
  <p>We encrypt your sign-up emails. We encrypt your direct messages to others. We take privacy seriously.</p>
  <p>We’re part of a group of sites that are improving gaming every day, and putting the focus on you, the gamer. Join today. Membership costs nothing, and helps gamers collectively build a powerful consumer voice.</p>
</div>