<div class="large-4 small-12 right">
  <%= form_for @user, url: "", multipart: true, method: "post" do |f| %>
    <% if @user.errors.any? %>
      <div data-alert class="alert-box">
        <strong><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</strong>
        <ul style="margin-bottom: 0;">
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

      <div class="row">
        <div class="small-12 columns">
          <div class="row collapse">
            <div class="small-3 columns">
              <span class="prefix">Username</span>
            </div>
            <div class="small-9 columns">
              <div class="input-text">
                <%= f.text_field :username, placeholder: "Username", required: true %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <div class="row collapse">
            <div class="small-2 columns">
              <span class="prefix">Email</span>
            </div>
            <div class="small-10 columns">
              <div class="input-text">
                <%= f.text_field :email, placeholder: "Email", required: true %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-6 columns">
          <div class="row collapse">
            <div class="small-3 columns">
              <span class="prefix">Pass</span>
            </div>
            <div class="small-9 columns">
              <div class="input-text">
                <%= f.password_field :password, placeholder: "Password", required: true %>
              </div>
            </div>
          </div>
        </div>

        <div class="small-6 columns">
          <div class="row collapse">
            <div class="small-4 columns">
              <span class="prefix">Confirm</span>
            </div>
            <div class="small-8 columns">
              <div class="input-text">
                <%= f.password_field :password_confirmation, placeholder: "Confirmation", required: true %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <%= f.submit 'Submit', class: "button" %>
      </div>
    </div>
  <% end %>
</div>