<div class="large-5 small-12 right lfg-form">
  <%= form_for @user, url: "/signup", multipart: true, method: "post" do |f| %>
    <% if @user.errors.any? %>
      <div data-alert class="alert-box">
        <strong><%= pluralize(@user.errors.count, "error") %> prohibited this account from being created:</strong>
        <ul style="margin-bottom: 0;">
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <div class="small-12">
      <h2>Register Now</h2>
    </div>

    <div class="small-12">
      <%= f.text_field :username, placeholder: "Username", required: true %>
    </div>
    <div class="small-12-12">
      <%= f.password_field :password, placeholder: "Password", required: true %>
    </div>
    <div class="small-12">
      <%= f.text_field :email, placeholder: "E-mail", required: true %>
    </div>
    <div class="small-12">
      <%= f.text_field :email_confirm, placeholder: "Re-enter E-Mail", required: true %>
    </div>

    <div class="small-4 right">
      <%= f.submit 'Sign up', class: "btn right" %>
    </div>
  <% end %>
</div>
<div class="large-5 small-12 text-card left" id="join-the-league">
  <%= image_tag "ui/signup/join-the-league.png", class: "logo" %>
  <p>Welcome to the Alpha of League for Gamers website.</p>

  <p>League for Gamers (LFG for short), is a consumer focused gaming league encompassing video games, board games, and pen and paper gaming. We come together to promote positive gaming, good sportsmanship, research, learning and advocacy for our hobby.</p>

  <p>Create a profile, list your skills and interests, and connect with other gamers. Soon we will be adding messaging, feeds and following. Later you will be able to join LFG volunteer groups, or create your own gaming groups.</p>
</div>