<% if !!@group and !@group.new_record? and !!@current_user and universal_permission_check "can_update_group" %>
  <span class="group-burger-button">&#9776;</span>
  <div class="group-control-panel clearfix hidden">
    <h2>Admin</h2>
    <ul class="accordion" data-accordion>
      <li class="accordion-navigation">
        <a href="#desc">Edit Description</a>
        <div id="desc" class="content">
          <%= form_for @group, url: "/group/#{@group.slug}", method: "patch" do |f| %>
            <%= f.text_area :description, class: "quick-submit", rows: 8 %>
            <%= f.submit 'Update', class: "btn small center" %>
          <% end -%>
        </div>
      </li>
      <li class="accordion-navigation">
        <a href="#privacy">Group Privacy</a>
        <div id="privacy" class="content">
          <%= form_for @group, url: "/group/#{@group.slug}", method: "patch" do |f| %>
            <% Group.privacies.keys.each do |key| %>
              <label>
                <%= f.radio_button :privacy, key %>
                <%= key.titleize %>
              </label>
            <% end %>
            <%= f.submit 'Update', class: "btn small center" %>
          <% end -%>
        </div>
      </li>
      <li class="accordion-navigation">
        <a href="#membership">Membership Privacy</a>
        <div id="membership" class="content">
          <%= form_for @group, url: "/group/#{@group.slug}", method: "patch" do |f| %>
            <% Group.memberships.keys.each do |key| %>
              <label>
                <%= f.radio_button :membership, key %>
                <%= key.titleize %>
              </label>
            <% end %>
            <%= f.submit 'Update', class: "btn small center" %>
          <% end -%>
        </div>
      </li>
      <li class="accordion-navigation">
        <a href="#banner">Change Banner</a>
        <div id="banner" class="content">
          <%= form_for @group, url: "/group/#{@group.slug}", method: "patch" do |f| %>
            <label>Recommended size: 1500x400.<br>Will be cropped and resized to 1500x400 and 356x200, center focus.</label>
            <%= f.file_field :banner %>
            <%= f.submit 'Upload', class: "btn small center" %>
          <% end -%>
        </div>
      </li>
      <% if @current_user.role == Role.find(1) %>
        <li class="accoridon-navigation">
          <a href="#title">Change Title</a>
          <div id="title" class="content">
            <%= form_for @group, url: "/group/#{@group.slug}", method: "patch" do |f| %>
              <label>Title
                <%= f.text_field :title, required: true %>
              </label>
              <%= f.submit 'Update', class: "btn small center" %>
            <% end -%>
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#official">Official</a>
          <div id="official" class="content">
            <%= form_for @group, url: "/group/#{@group.slug}", method: "patch" do |f| %>
              <label>
                <%= f.check_box :official %>
                Official
              </label>
              <%= f.submit 'Update', class: "btn small center" %>
            <% end -%>
          </div>
        </li>
      <% end %>
      <% if @current_user.role == Role.find(1) or @membership.role == "owner" %>
        <li class="accordion-navigation">
          <a href="#delete">Delete Group</a>
          <div id="delete" class="content">
            <% if @current_user.has_permission? "can_delete_group" or (GroupMembership.has_permission? "can_delete_group", @permissions and @group.group_memberships.size <= 1) %>
              <%= form_tag "/group/#{@group.slug}/delete", method: "post", class: "requires-confirmation", :'data-confirm' => 'Are you sure? This cannot be undone' do %>
                <label>Enter the name of the group to confirm
                  <%= text_field_tag :confirmation, nil, {required: true, placeholder: @group.title} %> 
                </label>
                <%= submit_tag 'Delete', class: "btn small center", disabled: "disabled" %>
              <% end -%>
            <% else %>
              <span>The group needs to have no members to be deleted</span>
              <label>Enter the name of the group to confirm
                <input type="text" disabled="disabled" placeholder="League for Gamers">
              </label>
              <input type="submit" value="Delete" class="btn small center">
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  
<% end %>