<div class="streamPost text-card hidden-comments" id="post-<%= post.id %>" data-id="<%= post.id %>">
  <div class="large-2 small-3 columns user" data-id="<%= user.username %>">
    <%= link_to image_tag(user.avatar(:med), class: "avatar"), "/user/#{user.username}" %>
    <% if !!@permissions and ((GroupMembership.has_permission? "can_edit_own_posts", @permissions or GroupMembership.has_permission? "can_delete_own_posts", @permissions) or universal_permission_check "can_edit_all_users_posts" or universal_permission_check "can_delete_all_posts") -%>
      <div class="user-controls">
        <% if GroupMembership.has_permission? "can_edit_own_posts", @permissions or universal_permission_check "can_edit_all_users_posts" -%>
          <div class="edit-controls">
            <a class="submit-post">Submit</a>
            <a class="cancel-post">Cancel</a>
          </div>
        <% end -%>
        <div class="default-controls">
          <% if GroupMembership.has_permission? "can_edit_own_posts", @permissions or universal_permission_check "can_edit_all_users_posts" -%>
            <a class="edit-post">Edit</a>
          <% end -%>
          <% if GroupMembership.has_permission? "can_edit_own_posts", @permissions or universal_permission_check "can_delete_all_posts" -%>
            <a class="delete-post"></a>
          <% end -%>
        </div>
      </div>
    <% end -%>
  </div>
  <div class="large-10 small-9 columns body">
    <span class="title"><%= link_to display_name(user), "/user/#{user.username}" -%>
    <% if !!@current_user and !@current_user.follow? user and @current_user != user -%>
      <a class="follow-user" href="/user/<%= user.username -%>/follow" title="Follow" data-tooltip></a>
    <% end -%></span>
    <p class="<%= @lang %>"><%= replace_urls post.body -%></p>
    <% unless post.bans.empty? -%>
      <div class="bans">
        <% post.bans.each do |ban| -%>
          <p><%= ban_string(ban) %></p>
        <% end -%>
      </div>
    <% end %>
    <%= group_post_time_ago(post, group) -%>
    <span class="comment-count <%= "active" if post.children_count > 0 %>"><%= post.children_count %></span>
  </div>
</div>
<div class="small-11 comments text-card hidden" id="comments-<%= post.id %>" data-id="<%= post.id %>">
  <% if !!@current_user and GroupMembership.has_permission? "can_create_post", @permissions -%>
    <%= form_tag "/group/#{group.slug}/posts/#{post.id}/comment", method: :post, class: "new-comment" do %>
      <% text_field_tag :body, '', placeholder: 'Write a comment...', autocomplete: 'off' %>
    <% end %>
  <% end %>
  <div class="comment-contents unloaded">
  </div>
  <div class="loading-ring small"><div></div></div>
</div>