<div class="large-5 small-12 center lfg-form">
  <%= form_for @group, url: "/group/new" do |f| %>
    <% if @group.errors.any? or (@membership.present? and @membership.errors.any?) %>
      <div data-alert class="alert-box">
        <strong><%= pluralize(@group.errors.count + @membership.errors.count, "error") %> prohibited this group from being created:</strong>
        <ul style="margin-bottom: 0;">
          <% @group.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          <% @membership.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
    <div class="small-12">
      <h2>New group</h2>
    </div>

    <div class="small-12">
      <%= f.text_field :title, placeholder: "Group name", required: true %>
    </div>

    <div class="small-12">
      <%= f.text_area :description, placeholder: "Description", rows: 10 %>
    </div>
    <div class="small-12 columns text-card pad">
      <div class="small-4 columns">
        Privacy
        <% Group.privacies.keys.each do |key| %>
          <label>
            <%= f.radio_button :privacy, key %>
            <%= key.titleize %>
          </label>
        <% end %>
      </div>

      <div class="small-4 columns">
        Membership Policy
        <% Group.memberships.keys.each do |key| %>
          <label>
            <%= f.radio_button :membership, key %>
            <%= key.titleize %>
          </label>
        <% end %>
      </div>

      <div class="small-4 columns">
        Post Controls
        <% Group.post_controls.keys.each do |key| %>
          <label>
            <%= f.radio_button :post_control, key %>
            <%= key.titleize %>
          </label>
        <% end %>
      </div>

      
      <% if false # Basically comment it out -%>
        <div class="small-4 columns">
          Comment Privacy
          <% Group.comment_privacies.keys.each do |key| %>
            <label>
              <%= f.radio_button :comment_privacy, key %>
              <%= key.titleize %>
            </label>
          <% end %>
        </div>
      <% end -%>
    </div>

    <div class="small-4 center">
      <%= f.submit 'Create', class: "btn center m-top" %>
    </div>
  <% end %>
</div>