<% if !!@current_user and GroupMembership.has_permission? "can_create_post", @permissions -%>
  <div class="row group-new-post" id="new-post">
    <div class="large-6 small-12 text-card pad lfg-form new-post-form">
      <%= form_tag "/group/#{@group.slug}/new_post" do -%>
        <label id="body_feedback" style="float:right"></label>
        <label>New post</label>
        <%= text_area_tag "body", nil, class: "quick-submit white", maxlength: "512" %>
        <% if universal_permission_check "can_create_official_posts" %>
          <label style="float: right;">Pinned?
            <%= check_box_tag "official" %>
          </label>
        <% end %>
        <input type="submit" class="btn" value="Post" />
      <% end -%>
    </div>
  </div>
<% end -%>


<div class="row group-banner">
  <% unless @group.banner.blank? -%>
    <%= image_tag @group.banner.url(:large), class: "banner" %>
  <% end -%>
  <h1 class="<%= "no-banner" if @group.banner.blank? %>"><%= @group.title -%></h1>
</div>
<div class="row">
  <div class="large-4 medium-4 small-12 right columns text-card" id="description">
    <div class="stats row">
      <span class="small-4 columns"><% if !!@current_user and universal_permission_check "can_view_group_members" -%><a href="/group/<%= @group.slug %>/members"><%= number_to_cardinal @group.group_memberships.count %> members</a><% else -%><%= number_to_cardinal @group.group_memberships.count %> members</a><% end -%></span>
      <span class="small-4 columns"><%= number_to_cardinal @group.posts.count %> posts</span>
      <% if !!@current_user and !@membership and ["public_membership", "owner_verified"].include? @group.membership %>
        <span class="small-4 columns"><a href="/group/<%= @group.slug %>/join">Join Group</a></span>
      <% elsif !!@membership and @membership.role != "unverified" %>
        <span class="small-4 columns"><a href="/group/<%= @group.slug %>/leave">Leave Group</a></span>
      <% elsif !!@membership and @membership.role == "unverified" %>
        <span class="small-4 columns"><a href="/group/<%= @group.slug %>/leave">Revoke join request</a></span>
      <% else %>
        <span class="small-4 columns has-tip" title="You must be logged in to join" data-tooltip aria-haspopup="true">Join Group</span>
      <% end -%>
    </div>
    <h2>About</h2>
    <p><%= replace_urls @group.description %></p>
  </div>
  <div class="large-7 medium-8 small-12 left columns">
    <% if !!@membership and @membership.role == "banned" -%>
      <div class="row">
        <div class="text-card pad banned-message">
        <h1>You are banned</h1>
        <p>Your ban will not be lifted until 
        <% if @ban.end_date.nil? %>
          <span class="highlight">Never</span>
        <% else -%>
          the <span class="highlight"><%= @ban.end_date.strftime("%-d").to_i.ordinalize -%> of <%= @ban.end_date.strftime("%B") %>, <%= @ban.end_date.strftime("%Y") %></span></p>
        <% end -%>
        <p>You were banned for the reason: <span class="highlight"><%= @ban.reason %></span></p>
        <% unless @ban.post.nil? -%>
          <p><a href="/feed/user/<%= @current_user.username %>/<%= @ban.post.id %>">Click here</a> to be taken to the post you were banned for</p>
        <% end -%>
        </div>
      </div>
    <% end -%>
    
    <div class="row">
      <% unless @stickied_posts.empty? %>
        <div class="left columns">
          <div class="small-12 menu-panel">
            <% if !!@current_user and GroupMembership.has_permission? "can_create_post", @permissions -%>
              <div class="left">
                <a class="post-icon"></a>
              </div>
            <% end -%>
            <% if @stickied_posts.count > 1 -%>
              <div class="right orbit-nav">
                <% @stickied_posts.count.times do |i| %>
                  <a data-orbit-link="stickied-<%=i%>"></a>
                <% end %>
              </div>
            <% end -%>
          </div>
          <div class="small-12 left" id="pinned-posts" data-orbit>
            <% @stickied_posts.each_with_index do |post, i| -%>
              <li data-orbit-slide="stickied-<%=i%>">
                <%= render partial: "post", locals: {post: post, user: post.user} %>
              </li>
            <% end -%>
          </div>
        <% end %>
      </div>
    

      <div class="left columns">
        <% if !!@current_user and GroupMembership.has_permission? "can_create_post", @permissions -%>
          <div class="small-12 menu-panel">
            <div class="left">
              <a class="post-icon"></a>
            </div>
          </div>
        <% end -%>

        <div class="small-12 left" id="new-posts-button">
          View <span class="num"></span> new posts
        </div>
        
        <div class="small-12 left" id="feed-posts">
          <% @group_posts.each do |post| -%>
            <%= render partial: "post", locals: {post: post, user: post.user} %>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>