<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8' />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= @title || "League For Gamers" %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/images/favicon-228.png" sizes="228x228">
  <link rel="icon" type="image/png" href="/images/favicon-195.png" sizes="195x195">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favicon-152.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicon-144.png">
  <link rel="icon" type="image/png"  sizes="128x128" href="/images/favicon-128.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/favicon-120.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicon-114.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/favicon-76.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicon-72.png">
  <link rel="apple-touch-icon-precomposed" href="/images/favicon-57.png">
  <link rel="icon" href="/images/favicon-32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#c4c4c4">
  <meta name="msapplication-TileImage" content="/images/favicon-144.png">
  <link rel="shortcut icon" href="/favicon.ico?v2" />
</head>
<body>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">LFG</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li><a href="/search">User Search</a></li>
    </ul>

    <ul class="right">
      <% if !logged_in? %>
        <li><a href="/login">Login</a></li>
      <% else %>
        <li><a href="/user/<%= @current_user.username %>"><%= display_name(@current_user) %></a></li>
        <li><a href="/account">Settings</a></li>
        <li><a href="/logout">Log Out</a></li>
      <% end %>
    </ul>
  </section>
</nav>
<br>
<main class="row">
  <%= yield %>
</div>
<% if flash[:notice] -%>
  <div data-alert class="alert-box">
    <%= flash[:notice] %>
    <a class="close">&times;</a>
  </div>
<% end -%>

</body>
</html>
