<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8' />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= @title || "League For Gamers" %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/images/favicon-228.png" sizes="228x228">
  <link rel="icon" type="image/png" href="/images/favicon-195.png" sizes="195x195">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favicon-152.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicon-144.png">
  <link rel="icon" type="image/png"  sizes="128x128" href="/images/favicon-128.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/favicon-120.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicon-114.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/favicon-76.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicon-72.png">
  <link rel="apple-touch-icon-precomposed" href="/images/favicon-57.png">
  <link rel="icon" href="/images/favicon-32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#c4c4c4">
  <meta name="msapplication-TileImage" content="/images/favicon-144.png">
  <link rel="shortcut icon" href="/favicon.ico?v2" />
</head>
<body class="antialiased">
  <% flash.each do |message_type, message| %>
    <div data-alert class="alert-box <%= message_type  %>">
      <%= message %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
  <div class="main-logo <%= "left" if logged_in? %>">
    <%= link_to image_tag("ui/logo.png"), root_url%>
  </div>
  <nav class="top-nav-bar">
    <% if logged_in? %>
      <div class="left search">
        <form method="get" action="/search">
          <input type="text" id="search-bar" name="query" placeholder="Search" value="<%= @query if @query -%>">
        </form>
      </div>
    <% end %>
    <% if !logged_in? %><div class="center lfg-form" id="login-form"><%= render "user/login" %></div><% end -%>
    <ul class="right">
      <% if !logged_in? %>
        <li><a href="/login" id="login-button">Login</a></li>
      <% else %>
        <li><a href="/messages" title="Messages" class="icon-button messages-button">
          <% if @current_user.unread_count > 0 -%>
            <span class="message-count"><%= @current_user.unread_count %></span>
          <% end -%>
        </a></li>
        <li><a href="/account" title="Settings" class="icon-button settings-button"></a></li>
        <li><a href="/user/<%= @current_user.username %>"><%= display_name(@current_user) %></a></li>
        <li><a href="/logout">Log Out</a></li>
      <% end %>
    </ul>
  </nav>

  <div class="main row">
    <%= yield %>
  </div>

  <nav class="bottom-nav-bar">
    <ul class="left">
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/terms">Terms</a></li>
      <li><a href="/privacy">Privacy</a></li>
      <li><a href="https://leagueforgamers.atlassian.net/projects/LFG/issues">Report a Bug</a></li>
    </ul>
    <ul class="right">
      <%= render "group/admin_menu" %>
    </ul>
  </nav>

<meta name="unique" content="<%= SecureRandom.hex(16) %>">
</body>
</html>
